<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.internship.busbookingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/leftface"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Destination_and_takeoff"></activity>
        <activity
            android:name=".Payment_method_activity"
            android:parentActivityName=".Destination_and_takeoff"></activity>
        <activity
            android:name=".Main_Activity"
            android:parentActivityName=".Landing_PageActivity" />
        <activity
            android:name=".LogInActivity"
            android:parentActivityName=".Main_Activity" />
        <activity
            android:name=".Bus_list_activity"
            android:parentActivityName=".Landing_PageActivity" />
        <activity
            android:name=".Landing_PageActivity"
            android:parentActivityName=".List_of_available_buses" />
        <activity
            android:name=".Sign_up_actvity"
            android:parentActivityName=".LogInActivity" />
        <activity android:name=".List_of_available_buses">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>